@font-face{
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

body{
	background-color: #e1ddf4;
	font-family: Trebuchet MS;
	margin: 0px;
}

#dialogueBox{
	display: flex;
	background-color: #cac5ed;
	justify-content: center;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27%;
    margin-top: -15%;
	font-size: 20px;
	color: black;
	padding: 50px;
	width: 50%;
	height: 50%;
	flex-direction: column;
	border-radius: 30%;
}

#text{
	display: flex;
}

#continueButton{
	display: flex;
	background-color: #cac5ed;
	height: 20px;
	justify-content: right;
	padding-right: 45px;
	font-size: 25px;
}
a:link{
	color: black;
}
a:visited{
	color: white;
}
a:hover{
	color: white;
}
a:active{
	color: white;
}
