@font-face{
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

body{
	background-color: #e1ddf4;
	font-family: Trebuchet MS;
	margin: 0px;
}

h1{
	justify-content: center;
}

#title{
	display: flex;
	justify-content: center;
	background-color: #514283;
	color: white;
	width: 100%;
	font-size: 2em;
}

#dialogueBox{
	display: flex;
	background-color: #cac5ed;
	justify-content: center;
	margin-top: 30px;
	margin-left: 150px;
	margin-right: 150px;
	font-size: 20px;
	color: black;
	padding: 20px;
}

.nextButton{
	
}